.skeleton {
    background-color: rgb(199, 199, 199);
    margin: .75rem 0;
    border-radius: .25rem;
}

.skeleton.title {
    height: 1.25rem;
    margin-bottom: 1rem;
}

.skeleton.text {
    height: .75rem;
}

.skeleton.width-100 {
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}

/* animation */
@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}